@import "../../index.scss";

#navbar {
  background: $mainGrey;
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  &:hover {
    color: $mainGreen;
  }
}
.active {
  color: $mainGreen;
  text-shadow: 1px 1px 2px #000066;
}

.navbar-brand span:first-child {
  font-family: serif;
  color: #08526d;
  font-size: 25px;
  text-shadow: 1px 1px 2px #000066;
}
.navbar-brand span:last-child {
  font-family: serif;
  font-weight: bold;
  color: #ec1c23;
  text-transform: uppercase;
  font-size: 25px;
  text-shadow: 2px 2px 4px #08526d;
  font-style: initial;
}
